<template lang="pug">
.input-group
    .profile-image
        img(:src="imgPath" alt="Profile image")
    .input-fields
        label(for="input") {{ label }}
        input#input(
            type="text"
            v-imask="mask"
            :placeholder="placeholder"
            v-model="years"
            @input="change"
            autocomplete="off"
            :size="inputSize"
        )
    .input-description {{ description }}
</template>

<script>
import { IMaskDirective } from 'vue-imask';

export default {
    name: 'input-group',
    model: {
        prop: 'values',
        event: 'change',
    },
    directives: {
        imask: IMaskDirective,
    },
    props: {
        label: {
            type: String,
            required: true,
        },
        description: {
            type: String,
            required: true,
        },
        placeholder: {
            type: Number,
            default: 7,
        },
        values: {
            type: String,
            required: true,
        },
        img: {
            type: String,
            required: true,
        },
    },
    data() {
        return {
            years: this.values,
            mask: {
                mask: Number,
                scale: 2,
                signed: false,
                thousandsSeparator: ' ',
                padFractionalZeros: false,
                normalizeZeros: true,
                radix: ',',
                mapToRadix: ['.'],
                min: -1,
                max: 100000000000000000000000000000000000000000,
            },
        };
    },
    computed: {
        imgPath() {
            return require(`@/assets/${this.img}`);
        },

        inputSize() {
            return this.years.length <= 6 ? 4 : this.years.length - 2;
        },
    },
    methods: {
        change() {
            this.years = this.years.replace(/\D/g,'');
            this.$emit('change', this.years.split(' ').join(''));
        },
    },
};
</script>

<style lang="stylus" scoped>
.input-group
    display flex
    align-items flex-end

    &:focus-within
        .profile-image
            border 2px solid var(--light-blue)

        label
            color var(--light-blue)

.profile-image
    width 55px
    height 55px
    border-radius 50%
    overflow hidden
    border 2px solid rgba(0, 0, 0, 0)

    img
        user-select none

.input-fields
    margin-left 16px
    display flex
    flex-direction column

    label
        font-size 13px
        text-transform uppercase
        font-weight bold

#input
    outline none
    border none
    border-bottom 1px solid var(--light-grey)
    padding 8px 0
    caret-color var(--light-blue)
    font-weight bold
    fonr-size 14px

    &::placeholder
        color var(--light-grey)

    &:focus
        border-color: var(--light-blue)

.input-description
    font-size 14px
    margin-left 8px
    margin-bottom 7px

</style>
