<template lang="pug">
#app
    InputGroup(
        v-model="hughYears"
        label="Hugh is"
        description="years old"
        img="hugh.jpg"
    )
</template>

<script>
import InputGroup from '@/components/input-group.vue';

export default {
    name: 'app',
    components: {
        InputGroup,
    },
    data() {
        return {
            hughYears: '10',
        };
    },
}
</script>
<style lang="stylus">
@import 'assets/global-styles.styl'
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin 0
    padding 0
    box-sizing border-box
    outline none
}

#app
    font-family 'Roboto', sans-serif
    width 100vw
    height 100vh
    display flex
    flex-direction column
    justify-content center
    align-items center
</style>
